@import "tailwindcss";

@font-face {
  font-family: "Agave";
  src: url("/fonts/Agavenerd.ttf");
}

@font-face {
  font-family: "Graff";
  src: url("/fonts/GraffitiCity.otf");
}

@theme {
  --color-win-gray: #c0c0c0;
  --color-win-light: #dfdfdf;
  --color-win-dark: #404040;
  --color-win-mid: #808080;
  --color-win-blue: #000080;
  --color-win-blue-light: #1084d0;
  --color-win-hover: #d4d4d4;
}

@layer {
  .font-graf {
    font-family: "Graff";
  }

  .font-agave {
    font-family: "Agave";
  }
}

html {
  background-color: black;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  font-family: "Agave";
}

body {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmScPaF1MACeCMhxd6CoNr5CpVhxgg8BirXenCQCrMy1oJ");
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.shadow-win95 {
  box-shadow: inset -2px -2px 0px var(--color-win-dark),
    inset 2px 2px 0px var(--color-win-light), 4px 4px 10px rgba(0, 0, 0, 0.5);
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.text-stroke {
  -webkit-text-stroke: 3px black;
  paint-order: stroke fill;
}
